---
import BaseLayout from "../layouts/BaseLayout.astro";
import Cool from "../components/Cool.astro";

const myself = {
    firstName: "Guilherme",
    lastName: "",
    country: "Brazil",
    occupation: "Senior Frontend Engineer",
    hobbies: ["coffee", "art", "music(listening only lol)"],
};

const isCool = true;

const skills = [
    "HTML",
    "CSS",
    "JavaScript",
    "React",
    "Astro",
    "Writing Docs",
    "Making bad latter art",
];
---

<BaseLayout>
    <h1>About</h1>

    <p>Here are a few facts about me:</p>
    <Cool isCool={isCool} />

    <ul>
        <li>My name is {myself.firstName} .</li>
        <li>
            I live in {myself.country} and I work as a {myself.occupation}.
        </li>
        {
            myself.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are: {myself.hobbies[0]} and{" "}
                    {myself.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
</BaseLayout>
